<style> body, html { background: #ffffff; color: #000000 } </style><pre>[mclg]&lt;observer&gt; : MicroLogger by <b><font color=29c329>KCTF</font></b> welcomes you!

[info]<        > : The format of "Observed" values is:
                 : name < id >[ addr ][ addr_id ] | value | history

================================================================================ [0] log start
</pre><pre>[mclg]&lt;observed&gt; : op [<b><font color=73914f>ctor</font></b>] {
                 :     @noname | [var1][0x7ffee5d923a0][loc1] | val = [-1, -1] | @noname1
                 : }

</pre><pre>                 : op [
<b><font color=ee1c1c>[    ]&lt;   op   &gt; :     ctor_copy
</font></b>                 :              ] {
[    ]&lt;observed&gt; :     TMP1    | [var2][0x7ffee5d92430][loc2] | val = [-1, -1] | COPY{@noname1}
                 :     @noname | [var1][0x7ffee5d923a0][loc1] | val = [-1, -1] | @noname1
                 : }

</pre><pre>                 : op [<b><font color=be8607>dtor</font></b>] {
                 :     @noname | [var1][0x7ffee5d923a0][loc1] | val = [-1, -1] | @noname1
                 : }

</pre><pre>                 : op [<b><font color=73914f>ctor</font></b>] {
                 :     @noname | [var3][0x7ffee5d923a0][loc1] | val = [0, 1] | @noname3
                 : }

</pre><pre>                 : op [<b><font color=108910>ctor_move</font></b>] {
                 :     TMP2    | [var4][0x55685fbdcf00][loc3] | val = [0, 1] | move(@noname3)
                 :     @noname | [var3][0x7ffee5d923a0][loc1] | val = [0, 1] | @noname3
                 : }

</pre><pre>                 : op [<b><font color=be8607>dtor</font></b>] {
                 :     @noname | [var3][0x7ffee5d923a0][loc1] | val = [0, 1] | @noname3
                 : }

</pre><pre>                 : op [<b><font color=73914f>ctor</font></b>] {
                 :     @noname | [var5][0x7ffee5d923a0][loc1] | val = [1, 2] | @noname5
                 : }

</pre><pre>                 : op [<b><font color=108910>ctor_move</font></b>] {
                 :     TMP3    | [var6][0x55685fbdcf60][loc4] | val = [1, 2] | move(@noname5)
                 :     @noname | [var5][0x7ffee5d923a0][loc1] | val = [1, 2] | @noname5
                 : }

</pre><pre>                 : op [<b><font color=be8607>dtor</font></b>] {
                 :     @noname | [var5][0x7ffee5d923a0][loc1] | val = [1, 2] | @noname5
                 : }

</pre><pre>                 : op [<b><font color=73914f>ctor</font></b>] {
                 :     @noname | [var7][0x7ffee5d923a0][loc1] | val = [2, 3] | @noname7
                 : }

</pre><pre>                 : op [<b><font color=108910>ctor_move</font></b>] {
                 :     TMP4    | [var8][0x55685fbdcfc0][loc5] | val = [2, 3] | move(@noname7)
                 :     @noname | [var7][0x7ffee5d923a0][loc1] | val = [2, 3] | @noname7
                 : }

</pre><pre>                 : op [<b><font color=be8607>dtor</font></b>] {
                 :     @noname | [var7][0x7ffee5d923a0][loc1] | val = [2, 3] | @noname7
                 : }

</pre><pre>                 : op [<b><font color=73914f>ctor</font></b>] {
                 :     @noname | [var9][0x7ffee5d923a0][loc1] | val = [3, 1] | @noname9
                 : }

</pre><pre>                 : op [<b><font color=108910>ctor_move</font></b>] {
                 :     TMP5    | [var10][0x55685fbdd020][loc6] | val = [3, 1] | move(@noname9)
                 :     @noname | [var9][0x7ffee5d923a0][loc1] | val = [3, 1] | @noname9
                 : }

</pre><pre>[mclg]&lt;observed&gt; : op [<b><font color=be8607>dtor</font></b>] {
                 :     @noname | [var9][0x7ffee5d923a0][loc1] | val = [3, 1] | @noname9
                 : }

</pre><pre>                 : op [<b><font color=73914f>ctor</font></b>] {
                 :     @noname | [var11][0x7ffee5d923a0][loc1] | val = [4, 2] | @noname11
                 : }

</pre><pre>                 : op [<b><font color=108910>ctor_move</font></b>] {
                 :     TMP6    | [var12][0x55685fbdd1e0][loc7] | val = [4, 2] | move(@noname11)
                 :     @noname | [var11][0x7ffee5d923a0][loc1] | val = [4, 2] | @noname11
                 : }

</pre><pre>                 : op [<b><font color=be8607>dtor</font></b>] {
                 :     @noname | [var11][0x7ffee5d923a0][loc1] | val = [4, 2] | @noname11
                 : }

</pre><pre>================================================================================ [1] log end
</pre>